## ===================================================================
## BOT SETTINGS
## ===================================================================
## Configures general bot settings.
## Settings:
##  - RPC URL: RPC url for fetching onchain related data (NOT for sending)
##  - GRPC URL: gRPC url for streaming market data. REQUIRED for Searcher (not yet released).
##  - GRPC X-Token: optional x-token for gRPC authentication
##  - Auto Restart: auto restart interval (in minutes). 0 => run indefinitely
##  - Debug Mode: if true, enables debug mode with verbose error logging
##  - Slot Memo: if true, prepends the slot the tx landed to memo message
##  - Close Unused ATAs: if true, closes unused ATAs at start-up not in the current mint list (that have 0 balance) to reclaim rent-exempt SOL.
## API Keys:
##  - Optional API keys used for various services
[bot]
rpc_url = "https://solana-rpc.publicnode.com"
grpc_url = "https://solana-yellowstone-grpc.publicnode.com:443"
grpc_x_token = ""
auto_restart = 20
debug_mode = false
slot_memo = false
close_unused_atas = true

[bot.api_keys]
fomo_loot_api = ""
circular = ""
nextblock = ""
helius = ""
stellium = ""
astralane = ""
node1 = ""
razor = ""
flashblock = ""
falcon = ""

## ===================================================================
## MARKETS
## ===================================================================
## Configures market settings across all strategies.
## Settings:
##  - Skip Pools Without ALUTs: if true, skips pools with no found ALUTs
##  - Enabled DEXes: list of enabled DEXes. DEX availability varies by onchain provider.
[markets]
skip_pools_without_aluts = false
enabled_dexes = [
    "pump_swap",
    "meteora_dlmm",
    "meteora_damm_v2",
    "raydium_amm",
    "raydium_clmm",
    "raydium_cpmm",
    "whirlpool"
]

## ===================================================================
## FLASHLOANS
## ===================================================================
## Enables flashloan support across all strategies.
## Uses onchain provider's (i.e. SMB & NotArb) in-house flashloan programs
## Note: enabling flashloans will override min/max trade size settings in Searcher
[flashloans]
enabled = true

## ===================================================================
## OPTIMAL PRIORITY FEE
## ===================================================================
## Configures optimal priority fee settings across all strategies.
## Settings:
##  - Enabled: if true, overrides compute_unit_price across ALL strategies
##  - Provider: fomo or helius (helius requires api key)
##  - Use Recommended: if true, uses recommended fee from provider. Else uses specified percentile
##  - Percentile: percentile to use for fee calculation (e.g., 60 -> 60%)
##  - Update Interval: interval (in seconds) to update fee data from provider
[optimal_priority_fee]
enabled = true
provider = "fomo"
use_recommended = true
percentile = 65
update_interval = 45

## ================================================================
## DURABLE NONCES
## ================================================================
## If enabled, great for spamming lots of senders per opportunity (or cycle): the first tx processed by leader (success or fail) consumes the nonce,
## automatically dropping/invalidating the rest — downside: only ONE sender can land per opportunity.
## The bot will create and manage a nonce-account pool automatically; each account requires a small rent-exempt SOL deposit + tx fees.
## Close unused nonces: if true (and nonces are disabled), will close any existing nonce accounts bot created at start-up to reclaim rent-exempt SOL.
## For Spam: recommended to have at least 4+ nonce accounts.
## Note: if all nonces are in-use, txs will not be sent. So ensure enough nonces are created for your use-case.
[durable_nonces]
enabled = false
num_accounts = 4
close_unused_nonces = true

## ===================================================================
## SPAM STRATEGY
## ===================================================================
## Continuously sends transactions onchain to calculate the most optimal trade size and executes any profitable opportunities.
##
## Settings:
##  - Onchain Program: the onchain program(s) to use for tx execution. 
##    • If > 1 is set (both SMB and NA), opportunity will be sent to each one.
##    • Options: smb, notarb
##  - Memo: optional memo to add to txs
##  - Disable Durable Nonces: disables the use of durable nonces on this strategy
##  - Refresh Interval: cycle (in minutes) to refresh mint(s)
##  - Process Delay: delay (in ms) between sending each transaction
##  - Stagger TXs: if true (and using multiple onchain programs), splits the process delay across onchain programs so each fires sequentially. Else txs are dispatched in parallel.
##    • Example: 400ms process delay using 2 onchain programs → each fires 200 ms apart (t=0, t=+200 ms)
##    • Example 2: If wanting to rotate sending to both onchain programs, while sending a transaction every 400ms, set stagger_txs = true and process_delay = 800
##  - Max Compute Unit Limit: maximum compute unit limit per transaction
##  - Max Markets Per TX: maximum number of markets to include per transaction (Recommended: 4)
##  - Restrict Level: Controls max age of tx at landing time. 0 = no restriction, 5 = strictest (~1-2 slots). Requires fast RPC for 4-5.
##
## Base mints: optionally set (or disable) each base mint to configure market pairs used in spam
##  - Base Mint: Supported options are SOL, USDC, and USD1
[strategy.spam]
enabled = true
onchain_program = ["notarb","smb"]
memo = ""
disable_durable_nonces = false
refresh_interval = 1
process_delay = 400
stagger_txs = false
max_compute_unit_limit = 350_000
max_markets_per_tx = 4
restrict_level = 0

[[strategy.spam.base_mint]] # WSOL
enabled = true
base_mint = "So11111111111111111111111111111111111111112"

[[strategy.spam.base_mint]] # USDC
enabled = false
base_mint = "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"

[[strategy.spam.base_mint]] # USD1
enabled = false
base_mint = "USD1ttGY1N17NEEHLmELoaybftRBUSErhqYiQzvEmuB"

## Spam Mints From File
[strategy.spam.mints.from_file]
enabled = false
include_mints_from_file = ""

## FOMO Loot API
## Base layer config for mint discovery
[strategy.spam.mints.fomo]
enabled = true
base_mints = []
max_mint_count = 1
aggregation_window = 60
rank_by = "momentum"
min_roi = 50
min_volume = 500
min_txs = 15
min_market_cap = 0
max_market_cap = 100000000
from_wallets = []
from_bots = []
exclude_mints = [
	"EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v",
	"Es9vMFrzaCERmJfrF4H2FYD4KCoNkY11McCe8BenwNYB",
	"USD1ttGY1N17NEEHLmELoaybftRBUSErhqYiQzvEmuB"
]

## FOMO Loot API: Market Filtering
## Filter the markets returned per mint that meet this criteria
[strategy.spam.mints.fomo.markets_per_mint]
min_count = 2
max_count = 4
min_liquidity_usd = 500
min_vol = 0
min_txs = 5
rank_by = "volume"

## Spam Mints From Jupiter Trending
[strategy.spam.mints.jupiter_trending]
enabled = false
mints_count = 1
interval = "5m"
rank_by_volume = true

## Spam Senders
[strategy.spam.sender.rpc]
enabled = true
skip_durable_nonce = false
compute_unit_price = 40_000
max_compute_unit_price = 100_000
use_different_tx_per_sender = false
no_failure_mode = true
send_urls = [
    "https://mainnet.helius-rpc.com/?api-key=*********************"
]

## Jito
[strategy.spam.sender.jito]
enabled = false
skip_durable_nonce = false
use_different_tx_per_block_engine = false
tip_amount = { strategy = "tipstream", percentile = 65, max_tip = 20_000 }
uuid = ""
no_failure_mode = true
block_engines = ["ams","dub","fra","lon","nyc","slc","sgr","tyo"]

## Helius Sender
[strategy.spam.sender.helius]
enabled = false
skip_durable_nonce = false
compute_unit_price = 40_000
max_compute_unit_price = 100_000
use_different_tx_per_region = false
tip_amount = { strategy = "random", from = 200_000, to = 500_000 }
no_failure_mode = false
regions = ["fra"]

### Stellium
[strategy.spam.sender.stellium]
enabled = false
skip_durable_nonce = false
compute_unit_price = 40_000
max_compute_unit_price = 100_000
use_different_tx_per_region = false
tip_amount = { strategy = "random", from = 1_000_000, to = 1_500_000 }
no_failure_mode = false
regions = ["fra"]

## NextBlock
[strategy.spam.sender.nextblock]
enabled = false
skip_durable_nonce = false
compute_unit_price = 40_000
max_compute_unit_price = 100_000
use_different_tx_per_region = false
tip_amount = { strategy = "random", from = 1_000_000, to = 1_500_000 }
no_failure_mode = false
mev_protect = false
regions = ["fra"]

## Astralane
[strategy.spam.sender.astralane]
enabled = false
skip_durable_nonce = false
compute_unit_price = 40_000
max_compute_unit_price = 100_000
use_different_tx_per_region = false
tip_amount = { strategy = "random", from = 10_000, to = 20_000 }
no_failure_mode = false
mev_protect = false
regions = ["fra"]

## Circular Fast
[strategy.spam.sender.fast]
enabled = false
skip_durable_nonce = false
compute_unit_price = 40_000
max_compute_unit_price = 100_000
use_different_tx_per_region = false
tip_amount = { strategy = "random", from = 1_000_000, to = 1_500_000 }
no_failure_mode = false
mev_protect = false
regions = ["fra"]

## Node1
[strategy.spam.sender.node1]
enabled = false
skip_durable_nonce = false
compute_unit_price = 40_000
max_compute_unit_price = 200_000
use_different_tx_per_region = false
tip_amount = { strategy = "random", from = 2_000_000, to = 2_500_000 }
no_failure_mode = false
regions = ["fra"]

## BlockRazor
[strategy.spam.sender.razor]
enabled = false
skip_durable_nonce = false
compute_unit_price = 40_000
max_compute_unit_price = 200_000
use_different_tx_per_region = false
tip_amount = { strategy = "random", from = 1_000_000, to = 1_500_000 }
no_failure_mode = false
revert_protection = false
regions = ["fra"]

## FlashBlock
[strategy.spam.sender.flashblock]
enabled = false
skip_durable_nonce = false
compute_unit_price = 40_000
max_compute_unit_price = 200_000
use_different_tx_per_region = false
tip_amount = { strategy = "random", from = 100_000, to = 200_000 }
no_failure_mode = false
regions = ["fra"]

## Falcon (Corvus)
[strategy.spam.sender.falcon]
enabled = false
skip_durable_nonce = false
compute_unit_price = 40_000
max_compute_unit_price = 200_000
use_different_tx_per_region = false
tip_amount = { strategy = "random", from = 1_000_000, to = 1_500_000 }
no_failure_mode = false
regions = ["fra"]
